/* Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*utility classes*/
.container{
    margin: auto;
    max-width: 1100;
    padding: 0px 20px;
    overflow: auto  ;
}
/*main styling*/
body{
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.7em;
}

li{
    color: #333;
    text-decoration: none;
}
h1,h2,h3{
    padding-bottom: 20px;
}
p{
    margin: 10px 0px;
}
/*nav bar*/
#navbar{
    background-color: #333;
    color:white;
    overflow: auto;
}
#navbar a{
        color: white;
}
#navbar h1{
    float: left;
padding-top: 20px;
}
#navbar ul{
    float: right;
}
#navbar ul li{
    float: left;
}
#navbar ul li a{
    display: block;
    padding: 20px;
    text-align: center ;
}
#navbar ul li a:hover,
#navbar ul li a:hover.current{
    background: #444;
    color: #f7c08a;
}